doctype html
html
   head
      title zf
      style.
         body{background:red}
      script.
         var name="zf";
         var age=6;
   body
      h1.title#h1(name='myh1',age=6) zf;
      #id.classname
         a(href="www.baidu.com") link
         input(type='text',name='name',value='zf')
         input(type='checkbox',checked)

